.icon53 {
	padding-left: 63px;
}
div.col2-box h5 {
	background: white url(/i_preairlift/bg/header_260.png) top left no-repeat;
	margin-bottom: 10px !important;
	margin-top: 0 !important;
}
div.col2-box h4 {
	background: white url(/i_preairlift/bg/header_260.png) top left no-repeat;
	margin-bottom: 1px !important;
	margin-top: 0 !important;
}
div.col2-box div.left {
	width: 260px;
	float: left;
}
div.col2-box div.right {
	float: right;
	width: 260px;
}
div.col2-box div.left h2,
div.col2-box div.right h2 {
	font: bold 1.3em Arial, Helvetica, sans-serif;
	margin-bottom: 10px !important;
}
p.links {
	margin-top: -8px;
	font-weight: normal;
}
p.links a {
	font-weight: bold;
}
p.ctaLink {
	font: bold 1.5em Arial, Helvetica, sans-serif;
	text-align: center;
}