.jsHidden {
    display: none;
}

.jsVisible {
    display: block !important;
}

span.jsVisible {
    display: inline !important;
}

#suggesticator div.currencyChange {
	float: right;
}

#suggesticator div.quickfilterWrapper {
	float: right;
}

div.upSell {
	display: none;
}